.hero .item {
  width: 100%;
  padding-top: 125px;
}

@media (min-width: 768px) {

  .hero .item {
    height: 90vh;
    padding-top: 96px;
  }
}

.hero .item-blue{
  background-color: #21c0ef;
}

.hero .item-blue .button:hover{
  color: #21c0ef;
}

.hero .item-red{
  background-color: #4a1914;

}

.hero .item-red .button:hover{
  color: #4a1914;
}

.hero .item-green{
  background-color: #09b123;
}

.hero .item-brown{
  background-color: #91583b;
}

.hero .item-green .button:hover{
  color: #09b123;
}

.hero .item-brown .button:hover{
  color: #91583b;
}

.hero .item-text{
  display: flex;
  justify-content: center;
  flex-flow: column;
}

@media (max-width: 767px) {

  .hero .item-text {
    min-height: 190px;
    display: flex;
    align-items: flex-start;
  }
}


.hero .item .container {
  height: 100%;
  display: flex;
}

.hero .item .row {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

@media (min-width: 768px) {
  .hero .item .col-image {
    height: 100%;
  }
}

.hero .item img{
  object-fit: cover;
  object-position: 50%;
  width: 100%;
}

.hero .item h2 {
  color: #fff;
}

.hero .tns-ovh {
 
}