.intro{
  height: 70vh;
  position: relative;
}

.intro > i {
  background-position: center;
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(73,135,60,.3);
  background-blend-mode: multiply;
  /*filter: blur(2px);*/
}

.intro:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 2;
  position: absolute;
}

.banner {
  position: absolute;
  z-index: 3;
  min-height: 30vh;
  top: calc(100% - 15vh);
  width: 100%;
}

.banner-wrapper {
  background: #fff;
  padding: 30px 50px 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.15);
}

.tabela hr{
  margin: 5% 0;

}

@media (max-width:991px) {
  .tabela hr{
    margin: 15% 0;
  }
}

.tabela h3 span{
  white-space: nowrap;
}

.tabela-linha {
  display: flex;
}

.tabela-linha-center{
  justify-content: center;
}

.tabela-titulo {
  flex: 0 0 35%;
  max-width: 35%;
}

.tabela-conteudo {
  flex: 0 0 65%;
  max-width: 65%;
  display: flex;
  justify-content: space-between;
}

.tabela-conteudo b {
  font-family: var(--fontPrimary);
  font-weight: 400;
  letter-spacing: -0.06em;
  font-size: 85%;
}

.tabela-coluna {
  flex: 0 0 45%;
  max-width: 45%;
}

.tabela-coluna.full{
  flex: 0 0 100%;
  max-width: 100%;
}

.tabela-conteudo-linha {

}

@media (max-width:991px) {
  .tabela-titulo, .tabela-conteudo{
    flex:0 0 100%;
    max-width: 100%;

  }

  .tabela-conteudo{
    margin-top: 2rem;
  }

  .tabela-conteudo b{
    font-size: 1rem;
  }


  .tabela-linha{
    flex-flow: column;
  }

  .tabela-coluna-full{
    flex: 0 0 100%;
    max-width: 100%;
  
  }

}

.image-carousel .item {
  max-width: 100%;
}

.image-carousel img{
  object-fit: cover;
  display: block;
  width: 100%;
  height: 570px;
  object-position: 50% 50%;
}

@media (max-width: 991px){
  .image-carousel img{
    height: 400px;
  }

}

.image-carousel .tns-item {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.image-carousel .tns-item.active {
  z-index: 2;
}



/* Colunas fluidas */
.fluido.-wrap {
  column-width: auto;
  column-count: 2;
  column-gap: 30px;
  column-fill: auto;
}

.fluido.-item {
  padding-top: 1.5rem;
  break-inside: avoid;
}

@media (min-width: 992px) {

  .fluido.-wrap {
    column-count: 3;
  }
}